* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

.header {
    color: yellow;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(/img/p1.jpg);
    
}


.menu {
    display: flex;
    list-style: none;
}

.menu-iten {
    padding-top: 10px;
    padding-bottom: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    border: 2px solid black;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    border-radius: 10px;
    background: lime;
}

.menu-iten:hover{
    background: plum;
}

.sub_menu>.menu-iten{
    border: none;
}

.sub_menu{
    flex-direction: column;
    position: absolute;
    top: 100%;
    background: lime;
    display: none;
    width: 100%;
    
}

.menu-iten:hover>.sub_menu{
    display: block;
    border-radius: 10px;
}


.menu_link {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.contenedor{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

h2{
    padding-top: 10px;
    padding-bottom: 15px;
}

.aside{
    background: yellowgreen;
    flex: 1;
}

.section{
    background: yellow;
    flex: 3;
}

.footer{
    background: darkorange;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

@media screen and (max-width: 600px){
    .menu{
        flex-direction: column;
    }
    .contenedor{
        flex-direction: column;
    }
    .sub_menu{
        position: relative;
        top: 15px; 
        background-color: aqua; 
    }
    .menu-iten{
        opacity: 0.7;
    }
}

